body {
    background: linear-gradient(to bottom, #b3e0ff, #c3d4e0, #d9f2ff); /* Light blue to white gradient */
}

.hero {
    text-align: center;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
                url("images/rafting.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0px solid #1e90ff; /* Adds a water-like bottom border */
}

/* New styles added for the hero image */
.hero img {
    max-width: 100%;
    max-height: 400px; /* Adjust this value as needed */
    width: auto;
    display: block;
    margin: 0 auto;
}

.hero h1, .hero h2, .hero p {
    color: rgb(26, 26, 31);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.884);
}

.hero a.cta {
    background-color: #007acc; /* Deep water blue */
    color: rgba(24, 20, 20, 0.801);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

.hero a.cta:hover {
    background-color: #1e90ff; /* Lighter blue on hover */
}



